<div class="card">
    <div class="card-body" id="textoabout">
        <h1 align = "center">Interpretación de resultados </h4>
        <h6>Explicación de las ondas cerebrales: </h6>
        <p>
            ¿Qué es una onda cerebral? Son los patrones repetitivos de actividad eléctrica que general las diferentes estructuras del encéfalo.
            Estas ondas cerebrales pueden ser clasificadas en diferentes tipos (mencionados anteriormente) según su frecuencia, es decir, según el tiempo que pasa entre los
            momentos en los que las neuronas disparan señales eléctricas a la vez. 
        </p>
        <ul>
            <li>Ondas cerebrales Delta (1 a 3 Hz):
                Las ondas Delta son las que tienen una frecuencia muy baja, por lo que
                son las que tienen mayor amplitud de onda. Son características de la
                fase del sueño profundo, lo que no significa que el cerebro esté
                apagado, sino en descanso.
                También son características de los cerebros de los bebés mientras
                duermen y están asociadas a la hormona de crecimiento. 
            </li>
            <br>
            <li>Ondas cerebrales Theta (3,5 a 7,5 Hz):

                Estas ondas son las que después de Delta presentan mayor amplitud de
                onda y están asociadas a los estados de relajación y calma profunda.
                Durante el sueño, está asociada a la etapa en la que soñamos. Por
                consiguiente, cuando aparecen estas ondas se estima que sí hay
                consciencia. Están asociadas con la imaginación, creatividad, procesos
                60 curativos, emociones positivas y cambios optimistas de la conducta.
                Genera un estado ideal para reprogramar la mente, y son utilizadas para
                tratar de erradicar adicciones como pueden ser alcohol y drogas y para
                personas con pasado traumático.
            </li>
            <br>
            <li>Ondas Alfa (8 a 13 Hz):
                Son ondas que se presentan también en un estado de relajación, pero
                no son propias del estado de sueño, sino de calma profunda. Establecen
                un puente entre lo consciente y lo inconsciente, motivo por el cual
                también están asociadas a la intuición. Este tipo de ondas son útiles en
                terapias para reducir el estrés, donde se produzca más calma pero no
                sueño. En esta frecuencia desaparece el miedo y preocupaciones,
                produciéndose un estado de bienestar y paz. Se pueden alcanzar este
                tipo de ondas cuando meditamos.
            </li>
            <br>
            <li>Ondas Beta (12 a 33 Hz):
                Este tipo de ondas, en diferencia con las anteriores, son ondas que
                producimos cuando estamos despiertos, es decir, la actividad neuronal
                es intensa ya que están relacionadas con acciones que necesitan
                atención, y con la preocupación por lo que ocurre en el presente a
                nuestro alrededor. Son un tipo de onda cerebral de frecuencia
                moderada, asociada al pensamiento lógico y con actividades en las que
                fijamos nuestra atención. Son buenas para los procesos de aprendizaje,
                pero mantener constantemente nuestro cuerpo a este tipo de vibración
                es perjudicial para la salud.
            </li>
            <br>
            <li>Ondas Gamma (25 a 100 Hz):
                Este tipo de ondas cerebrales son las que se presentan con mayor
                frecuencia y, por tanto menor amplitud. Aparecen en estados de
                actividad mental muy elevada, con alto procesamiento cognitivo, con
                niveles de dolor elevado, ataques de pánico y ansiedad. También se
                generan este tipo de ondas en momentos de atención y concentración
                extrema. Mantener de manera constante este tipo de vibración es
                perjudicial para la salud y conlleva a desencadenar cuadros de ansiedad
                o depresión. 
            </li>
        </ul>

        <h6>Explicación de las gráficas conocidas como boxplot: </h6>
    
    </div>
</div>