<!--<div class="jumbotron mt-4">
    <h1 class="display-4">Detector de Emociones</h1>
    <p class="lead">Trabajo de Fin de Grado realizado por Irene Muñoz</p>
    <hr class="my-4">
    <p>Ingenieria Informatica, Universidad de Granada</p>
    <p>Plataforma web de recopilación de datos mediante “wearables” para el análisis de la actividad física sobre el estado de ánimo.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">IreneWeb</a> 

</div> -->
