<footer class="section footer-classic context-dark bg-image" style="background: #f0f4f7;">
        <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <p>Copyright © Emociones 2022</p>
              <p>ENLACE A LA DOCUMENTACION DEL TFG</p>
              
          </div>
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <dl class="contact-list">
                <dt>Address:</dt>
                <dd>Universidad de Granada</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">irenemunoz@correo.ugr.es</a></dd>
              </dl>
            
          </div>
        </div>
</div>
          
</footer>


      

      